* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}
body {
	width: 100vw;
	height: 100vh;
	background: #2c2c2c;
	font-family: "gcustomfont2";
	letter-spacing: 2px;
}

@font-face {
	font-family: "gcustomfont1";
	src: url(assets/gcustomfont1.otf);
	font-style: normal;
}

@font-face {
	font-family: "gcustomfont2";
	src: url(assets/gcustomfont2.otf);
	font-style: normal;
}

@font-face {
	font-family: "gcustomfont3";
	src: url(assets/gcustomfont3.otf);
	font-style: normal;
}

@font-face {
	font-family: "gcustomfont4";
	src: url(assets/gcustomfont4.otf);
	font-style: normal;
}
section {
	background: #f0ead6;
}

button {
	background: none;
	font-weight: bold;
	outline: none;
}

p {
	letter-spacing: 2px;
	line-height: 1.5;
}

a:link,
a:active,
a:visited {
	text-decoration: none;
	color: #2c2c2c;
}
#header {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 2rem 0 4rem 0;
	color: #f0ead6;
}

.profile-picture-container {
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	background: url(assets/portfolioBg.png);
	background-position: center;
	background-size: cover;
}

.info-container {
	text-align: center;
	padding-top: 3rem;
	h1 {
		font-family: "gcustomfont1";
		font-size: 2.5rem;
		margin-bottom: 0.25rem;
	}
	span {
		font-size: 1.5rem;
	}

	p {
		width: 60%;
		margin: 2rem auto 3rem auto;
		text-align: center;
		font-size: 1.2rem;
	}
	button {
		color: #f0ead6;
		width: 20rem;
		height: 4rem;
		font-size: 1.5rem;
		border: 2px solid #f0ead6;
		border-radius: 5px;
	}
}

.navbar {
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
	button {
		font-size: 1.65rem;
		width: 11rem;
		color: #f0ead6;
		border: none;
		height: 3rem;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
}
section {
	display: none;
}

.projects {
	width: 100%;
	padding: 5rem 0;
	display: flex;
	flex-direction: column;
}

.project {
	width: 75%;
	margin: 3rem auto;
	img {
		width: 100%;
		margin-bottom: 0.5rem;
	}
	span {
		font-size: 1.75rem;
		text-decoration: underline;
		font-weight: bold;
	}
	p {
		margin-top: 0.5rem;
		font-size: 1.15rem;
	}
}

.about-container {
	padding: 7rem 0;
}

.about {
	width: 85%;
	margin: 0 auto;
	font-size: 1.5rem;
	span {
		font-size: 2.5rem;
	}
	p {
		text-indent: 5px;
	}
}

.socials {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 5rem 0;
}

.icon-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
	span {
		font-size: 2rem;
	}
}

.icon {
	font-size: 12rem;
	margin-bottom: 0.75rem;
}

#cwIcon {
	width: 12rem;
}

.is-active {
	display: block;
}

.tab.is-active {
	background: #f0ead6;
	color: #2c2c2c;
}
@media only screen and (min-width: 768px) {
	html {
		font-size: 13px;
	}

	.project {
		width: 65%;
	}
}

@media only screen and (min-width: 1024px) {
	#header {
		flex-direction: row;
		width: 85%;
	}

	.header-left {
		width: 50%;
		display: flex;
		justify-content: center;
		padding-top: 2rem;
	}

	.header-right {
		width: 50%;
	}
	.profile-picture-container {
		width: 20rem;
		height: 20rem;
	}

	.projects {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.project {
		width: 35%;
	}

	.socials {
		flex-direction: row;
		align-items: flex-start;
		height: 75vh;
	}

	.icon-div {
		margin: 5rem 3rem;
	}
}

@media only screen and (min-width: 1440px) {
	html {
		font-size: 16px;
	}

	#header {
		width: 65%;
		padding-bottom: 7rem;
	}

	.navbar button {
		font-size: 2rem;
		height: 3rem;
		width: 15rem;
	}

	.project {
		width: 30%;
		margin: 5rem 8rem;
	}
	.about {
		width: 75%;
	}

	.icon-div {
		margin: 5rem 3rem;
	}
}
